.container {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create {
  max-height: 32px;
  min-width: 72px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  background: #0052cc;
  border-radius: 4px;
  border: none;
  padding: 8px 8px;
  box-sizing: border-box;
}

.create:hover {
  background: #708090;
}

.title {
  padding: 10px 0;
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 1.15;
}

.remaining {
  padding: 10px;
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.15;
}

.list {
  max-width: 768px;
  padding: 10px;
  margin: 0;
  display: grid;
  gap: 16px;
  list-style-type: none;
}
